In [40]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [41]:
start_date = "1960-01-01"
end_date = "2022-12-31"

# [Fama-French Data](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#fama-french-data)

In [42]:
import pandas_datareader as pdr

In [150]:
# return time series of the market (mkt_excess), size (smb), and value (hml) factors alongside the risk-free rates (rf).
factors_ff3_monthly_raw = pdr.DataReader(
    name="F-F_Research_Data_Factors",
    data_source="famafrench",
    start=start_date,
    end=end_date
)[0]

factors_ff3_monthly = (factors_ff3_monthly_raw
    .divide(100)
    .reset_index(names="month")
    .assign(month=lambda x: pd.to_datetime(x["month"].astype(str)))
    .rename(str.lower, axis="columns")
    .rename(columns={"mkt-rf": "mkt_excess"})
)

In [44]:
factors_ff5_monthly_raw = pdr.DataReader(
    name="F-F_Research_Data_5_Factors_2x3",
    data_source="famafrench",
    start=start_date,
    end=end_date
)[0]

factors_ff5_monthly = (factors_ff5_monthly_raw
    .divide(100)
    .reset_index(names="month")
    .assign(month=lambda x: pd.to_datetime(x["month"].astype(str)))
    .rename(str.lower, axis="columns")
    .rename(columns={"mkt-rf": "mkt_excess"})
)

In [233]:
factors_ff3_daily_raw = pdr.DataReader(
  name="F-F_Research_Data_Factors_daily",
  data_source="famafrench", 
  start=start_date, 
  end=end_date)[0]

factors_ff3_daily = (factors_ff3_daily_raw
  .divide(100)
  .reset_index(names="date")
  .rename(str.lower, axis="columns")
  .rename(columns={"mkt-rf": "mkt_excess"})
)

In [46]:
industries_ff_monthly_raw = pdr.DataReader(
  name="10_Industry_Portfolios",
  data_source="famafrench", 
  start=start_date, 
  end=end_date)[0]

industries_ff_monthly = (industries_ff_monthly_raw
  .divide(100)
  .reset_index(names="month")
  .assign(month=lambda x: pd.to_datetime(x["month"].astype(str)))
  .rename(str.lower, axis="columns")
)

In [ ]:
# check out the other Fama/Frech datasets
#pdr.famafrench.get_available_datasets()

# [q-Factors](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#q-factors)

In [54]:
factors_q_monthly_link = (
  "https://global-q.org/uploads/1/2/2/6/122679606/q5_factors_monthly_2023.csv"
)
factors_q_monthly = (pd.read_csv(factors_q_monthly_link)
    .assign(
        month=lambda x: (
            pd.to_datetime(x["year"].astype(str) + "-" +
                x["month"].astype(str) + "-01")
        )
    )
    .drop(columns=["R_F", "R_MKT", "year"])
    .rename(columns=lambda x: x.replace("R_", "").lower())
    .query(f"month >= '{start_date}' and month <= '{end_date}'")
    .assign(
        **{col: lambda x: x[col]/100 for col in ["me", "ia", "roe", "eg"]}
    )
)

# [Macroeconomic Predictors](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#macroeconomic-predictors)

In [55]:
sheet_id = "1g4LOaRj4TvwJr9RIaA_nwrXXWTOy46bP"
sheet_name = "macro_predictors.xlsx"
macro_predictors_link = (
  f"https://docs.google.com/spreadsheets/d/{sheet_id}" 
  f"/gviz/tq?tqx=out:csv&sheet={sheet_name}"
)

In [56]:
from pandas import DataFrame


macro_predictors: DataFrame = (
    pd.read_csv(macro_predictors_link, thousands=",")
    .assign(
        month=lambda x: pd.to_datetime(x["yyyymm"], format="%Y%m"),
        dp=lambda x: np.log(x["D12"])-np.log(x["Index"]),
        dy=lambda x: np.log(x["D12"])-np.log(x["D12"].shift(1)),
        ep=lambda x: np.log(x["E12"])-np.log(x["Index"]),
        de=lambda x: np.log(x["D12"])-np.log(x["E12"]),
        tms=lambda x: x["lty"]-x["tbl"],
        dfy=lambda x: x["BAA"]-x["AAA"]
    )
    .rename(columns={"b/m": "bm"})
    .get(["month", "dp", "dy", "ep", "de", "svar", "bm",
          "ntis", "tbl", "lty", "ltr", "tms", "dfy", "infl"])
    .query("month >= @start_date and month <= @end_date")
    .dropna()
)

# [Other Macroeconomic Data](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#other-macroeconomic-data)

In [58]:
cpi_monthly = (pdr.DataReader(
    name="CPIAUCNS",
    data_source="fred",
    start=start_date,
    end=end_date
    )
    .reset_index(names="month")
    .rename(columns={"CPIAUCNS": "cpi"})
    .assign(cpi=lambda x: x["cpi"]/x["cpi"].iloc[-1])
)

# [Setting Up a Database](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#setting-up-a-database)

In [64]:
import sqlite3

In [67]:
tidy_finance = sqlite3.connect(database="data/tidy_finance_python.sqlite")

In [68]:
(factors_ff3_monthly
 .to_sql(name="factors_ff3_monthly",
         con=tidy_finance,
         if_exists="replace",
         index=False)
)

756

In [69]:
pd.read_sql_query(
    sql="SELECT month, rf FROM factors_ff3_monthly",
    con=tidy_finance,
    parse_dates={"month"}
)

         month      rf
0   1960-01-01  0.0033
1   1960-02-01  0.0029
2   1960-03-01  0.0035
3   1960-04-01  0.0019
4   1960-05-01  0.0027
..         ...     ...
751 2022-08-01  0.0019
752 2022-09-01  0.0019
753 2022-10-01  0.0023
754 2022-11-01  0.0029
755 2022-12-01  0.0033

[756 rows x 2 columns]

In [71]:
data_dict = {
    "factors_ff5_monthly": factors_ff3_daily,
    "factors_ff3_daily": factors_ff3_daily,
    "industries_ff_monthly": industries_ff_monthly,
    "factors_q_monthly": factors_q_monthly,
    "macro_predictors": macro_predictors,
    "cpi_monthly": cpi_monthly
}

for key, value in data_dict.items():
    value.to_sql(name=key,
                 con=tidy_finance,
                 if_exists="replace",
                 index=False)

In [72]:
# Example query
factors_q_monthly = pd.read_sql_query(
    sql="SELECT * FROM factors_q_monthly",
    con=tidy_finance,
    parse_dates={"month"}
)

In [73]:
# Clean database
tidy_finance.execute("VACUUM")

# [Exercises](https://www.tidy-finance.org/python/accessing-and-managing-financial-data.html#exercises)

### 1.

In [160]:
import requests
import zipfile
import io

url_zip_file = "https://mba.tuck.dartmouth.edu/pages/faculty/ken.french/ftp/F-F_Research_Data_Factors_CSV.zip"
response = requests.get(url_zip_file)
if response.status_code == 200:
    with zipfile.ZipFile(io.BytesIO(response.content)) as z:
        file_name = z.namelist()[0]
        first_blank_line = False
        column_names = ""
        values_dict = {}
        with z.open(file_name) as f:
            for linea in f:
                linea = linea.strip()
                if not first_blank_line:
                    if not linea:
                        first_blank_line = True
                        continue
                elif not linea and first_blank_line:
                    break
                else:
                    values_list = linea.decode('utf-8').split(",")
                    if column_names == "":
                        column_names = values_list
                        column_names.pop(0)
                        continue
                    values_dict[pd.to_datetime(values_list[0], format='%Y%m')] = [pd.to_numeric(value) for value in values_list[1:]]
    df = (pd.DataFrame.from_dict(
        values_dict,
        orient='index',
        columns=column_names)
        .loc[start_date:end_date]
        .divide(100)
        .reset_index(names="month")
        .assign(month=lambda x: pd.to_datetime(x["month"].astype(str)))
        .rename(str.lower, axis="columns")
        .rename(columns={"mkt-rf": "mkt_excess"})
    )
    print(df.equals(factors_ff3_monthly))

True

### 2.

In [239]:
factors_ff5_daily_raw = pdr.DataReader(
  name="F-F_Research_Data_5_Factors_2x3_daily",
  data_source="famafrench", 
  start=start_date, 
  end=end_date)[0]

factors_ff5_daily = (factors_ff5_daily_raw
  .divide(100)
  .reset_index(names="date")
  .rename(str.lower, axis="columns")
  .rename(columns={"mkt-rf": "mkt_excess"})
)
factors_ff3_daily_compare = (factors_ff3_daily[
  factors_ff3_daily["date"].between(
    factors_ff5_daily["date"].min(),
    factors_ff5_daily["date"].max()
  )]
  .reset_index(drop=True)
)

In [243]:
factors_ff3_daily_compare.compare(factors_ff5_daily[['date', 'mkt_excess', 'smb', 'hml', 'rf']]).describe()

                smb
               self         other
count  13862.000000  13862.000000
mean       0.000047      0.000068
std        0.005453      0.005459
min       -0.116300     -0.111900
25%       -0.002800     -0.002800
50%        0.000200      0.000200
75%        0.003000      0.003100
max        0.062400      0.061700

It is possible that the values ​​of the facto "smb" are different due to the time periods in which each dataset begins to be calculated: in factor 5 it starts from 1963 and factor 3 starts in {start_date} equal to 1960. No I find another reason for the factor that represents the idea of ​​​​the difference in performance between small and large companies.